/*
!/.gitignore
!/January [0-9]*/
!/February [0-9]*/
!/March [0-9]*/
!/April [0-9]*/
!/May [0-9]*/
!/June [0-9]*/
!/July [0-9]*/
!/August [0-9]*/
!/September [0-9]*/
!/October [0-9]*/
!/November [0-9]*/
!/December [0-9]*/

.DS_Store
Thumbs.db
*~
*.swp
*.swo
.vscode/
.idea/
