/*
!/.gitignore
!/definitions.typ
!/definitions.pdf
!/README.md
!/January/
!/February/
!/March/
!/April/
!/May/
!/June/
!/July/
!/August/
!/September/
!/October/
!/November/
!/December/

.DS_Store
Thumbs.db
*~
*.swp
*.swo
.vscode/
.idea/
